@import '../../vars.scss';

#Home {
  .page-content {
    padding: 35px;
    width: calc(100vw - 80px);
    .left-content {
      min-width: 500px;
      h1 {
        font-weight: bold;
        font-size: 18px;
        color: #212224;
        letter-spacing: 4px;
      }
      button {
        border: none;
        border-radius: 5px;
        background: $main-green;
        color: white;
        font-size: 8px;
        letter-spacing: 2px;
        padding: 10px 20px;
        font-weight: bold;
        cursor: pointer;
      }
      .search-container {
        height: calc(100vh - 190px);
        padding: 15px;
        border-radius: 5px;
        border: solid 1px #ECEDEF;
        margin-top: 10px;
        .input-container {
          position: relative;
          width: 200px;
          input {
            padding: 10px;
            border: solid 1px #AAAEB3;
            border-radius: 5px;
            width: 100%;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
          }
          .search-icon {
            position: absolute;
            height: 14px;
            top: 11px;
            right: 15px;
          }
        }
        .product-item-wrapper {
          color: #212224;
          height: calc(100% - 44px);
          overflow-y: scroll;
          hr {
            border: none;
            border-bottom: solid 1px #EAEAEA;
          }
          .product-item {
            height: 22px;
            &:hover {
              cursor: pointer;
              color: $main-blue;
              .icon-wrapper {
                display: block;
              }
            }
            h2 {
              font-weight: bold;
              font-size: 14px;
              letter-spacing: 2px;
            }
            .icon-wrapper {
              display: none;
              img {
                height: 22px;
                margin-left: 12px;
              }
            }
          }
        }
      }
    }
    .right-content {
      margin-left: 35px;
      width: 100%;
      .action-header {
        height: 30px;
        h1 {
          font-weight: bold;
          font-size: 18px;
          color: #212224;
          letter-spacing: 4px;
          span {
            color: $main-red;
          }
        }
      }
      .fields {
        min-width: 400px;
      }
      .field {
        margin: 10px 0px;
        letter-spacing: 2px;
        font-size: 14px;
        position: relative;
        height: 35px;
        .small {
          width: 30px;
        }
        input {
          font-weight: bold;
          font-size: 14px;
          border: none;
          padding: 5px 0px;
          border-bottom: solid 1px #ECEDEF;
        }
        select {
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          border: solid 1px black;
          padding: 10px;
          text-align: center;
          background: none;
          border-radius: 5px;
          padding-right: 30px;
        }
        img {
          position: absolute;
          height: 10px;
          margin-left: -22px;
          top: 13px;
          z-index: -1;
        }
      }
      .color-variants {
        .variant {
          border-left: solid 4px white;
          padding-left: 10px;
          margin-bottom: 5px;
          position: relative;
          &:hover {
            border-color: #ECEDEF;
          }
          .variant-name {
            cursor: pointer;
            letter-spacing: 2px;
            font-size: 14px;
            .variant-color {
              width: 20px;
              height: 20px;
              border: solid 2px #707070;
              margin-right: 10px;
              border-radius: 50px;
            }
          }
          .picker {
            position: absolute;
            padding: 5px 0px;
            background: white;
            left: 35px;
            width: calc(100% - 35px);
            input {
              margin-left: 5px;
              border: solid 1px #AAAEB3;
              padding: 4px;
              border-radius: 5px;
            }
            .remove-color {
              height: 18px;
            }
          }
          .variant-item {
            margin-left: 10px;
            #input-front, #input-back {
              display: none;
            }
          }
          h3 {
            width: 103px;
            text-align: center;
            background: #C6C9CF;
            padding: 7px;
            letter-spacing: 2px;
            color: white;
            border-radius: 5px;
            font-size: 12px;
          }
          img {
            height: 15px;
            margin-left: 5px;
            cursor: pointer;
          }
        }
        .variant-add {
          border-left: solid 4px white;
          padding-left: 10px;
          margin-bottom: 5px;
          cursor: pointer;
          .variant-add-text {
            letter-spacing: 2px;
            font-size: 14px;
            .variant-button {
              width: 20px;
              height: 20px;
              background: $main-blue;
              border: solid 2px $main-blue;
              margin-right: 10px;
              border-radius: 50px;
              span {
                color: white;
                font-weight: bold;
                margin-left: 2px;
              }
            }
          }
        }
      }
      .image-wrapper {
        position: relative;
        &:hover {
          .print-area {
            background: rgba(255, 255, 255, 0.7);
            border: solid 3px #E6E6E6;
            display: block;
          }
        }
        .image-actions {
          img {
            width: 80px;
            cursor: pointer;
          }
        }
        .image-display {
          img {
            width: 100%;
            max-width: 340px;
          }
        }
        .print-area {
          position: absolute;
          border-radius: 4px;
          border: solid 3px transparent;
          display: none;
          cursor: move;
          .resize {
            width: 30px;
            position: absolute;
            cursor: -webkit-grab;
            cursor: grab;
            &:active {
              cursor: -webkit-grabbing;
              cursor: grabbing;
            }
          }
          .diagonal {
            right: -16px;
            bottom: -16px;
            padding: 4px;
          }
        }
      }
      .edit-buttons {
        margin-top: 50px;
        button {
          border: none;
          border-radius: 5px;
          background: $main-green;
          color: white;
          font-size: 8px;
          letter-spacing: 2px;
          padding: 10px 20px;
          font-weight: bold;
          cursor: pointer;
          margin-right: 10px;
        }
      }
    }
  }
}